body{
    background: #fff;
    
   /* background: #FF5F6D;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.titulo{
    font-family: Montserrat;
}
.principal{
    margin-top: 50px;
    font-family: Montserrat;
}

/* Tarjeta 1 */
.card-header-first{
    margin-top:-40px;
    height: 80px;
    background: linear-gradient(-90deg, #28036a, #28036a);
    box-shadow:1px 5px 15px #EF4135;
}

/* Tarjeta 2 */
.card-header-second{
    box-shadow:1px 7px 15px #6883c4;
    margin:-25px -25px 0px -25px;
    height: 80px;
    background: linear-gradient(-90deg, #8E2DE2, #4A00E0);
}

/* Tarjeta 3 */
.card-header-third{
    margin-top: -25px;
    height: 120px;
    box-shadow: 1px 5px 15px #a2a2a2;
    background: linear-gradient(-90deg, #11998e, #38ef7d);
}

.card-section-third span i{
    padding:17px;
    margin:0px 10px;
    color: #fff;
    height:50px;
    width:50px;
    box-shadow:1px 6px 24px #d2d2d2;
    background: linear-gradient(-90deg, #11998e, #38ef7d);
}

.card-header-third span i:hover,.card-section-third span i:hover{
    box-shadow:1px 1px 15px #000;
}

/* Efecto shadow para todas las tarjetas */
.card-section{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
/* Para el efecto sombra alpasar por encima el mouse */
.card-section:hover{
    box-shadow:1px 1px 20px #d2d2d2;
}

.subtitulo {
    font-weight: bold;
    color: #3e2093;
  }
